*, *::before, *::after {
    box-sizing: border-box;
    font-family :sans-serif;
    font-weight :bold;

}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, rgb(5, 88, 167), rgb(153, 5, 96));
}

body h1{
    text-align: center;
    color: white;
} 

.calculator-grid {
    display: grid;
    justify-content:center;
    align-content:space-around;
    grid-template-columns: repeat(4 , 100px);
    grid-template-rows: minmax(120px , auto) repeat(5 , 100px);

    
}

.calculator-grid > button {
    size: 10px;
    cursor: pointer;
    font-size: 2rem;
    border: 2px solid white;
    outline: none;
    background-color: rgba(15, 35, 39, 0.089);
}

.calculator-grid > button:hover {
    background-color: rgba(16, 47, 59, 0.842) ;
}

.span-two{
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(14, 12, 12, 0.747) ;
    border: 2px solid white;
    display: flex;
    align-items: flex-end;
    justify-content:space-around;
    flex-direction: coloumn;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(212, 207, 207, 0.849);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}